.site-header {
  background-color: #f4f4f4; /* 헤더 배경색 */
  padding: 30px 20px; /* 세로 패딩 증가 */
  border-bottom: 2px solid #ddd;
}

.site-header h1 {
  margin: 0;
  font-size: 1.5rem;
  color: #333;
  text-align: left; /* 왼쪽 정렬 */
  font-weight: bold;
}
